body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',sans-serif;
    background: url(./images/bg-pattern-desktop.svg) ;
    background-size: cover;
    background-position: center;
    font-size: 16px
}
main.content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 375px;
    height: 780px;
    margin:  50px auto;
    background: white;
    box-shadow: 1px 2px 15px 5px rgba(0,0,0,0.09);

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.error-p{
    color: hsl(0, 36%, 70%);
    margin-bottom: 20px;
    display: none;
}
.title-wrapper{
    letter-spacing: 10px;
    font-size: 20px;
}
.content-wrapper>h2{
    text-align: center;
    letter-spacing: 10px;
    font-size: 40px;
    line-height: 45px;
}
.content-wrapper>h2>b{
    font-weight: 100;
    color: hsl(0, 36%, 70%);
}
.content-wrapper>p{
    padding: 0 20px;
    line-height: 25px;
    color: hsl(0, 36%, 70%);
    text-align: center;
    font: 300;
}

.submit-wrapper{
    margin: 10px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.no-border-large-input{
    border: 1px solid ;
    border-color: hsl(0, 36%, 70%);
    height: 40px;
    width: 210px;
    border-radius: 50px;
    background: white;
    padding-right:  70px;
    padding-left: 30px;
}
.no-border-large-input::placeholder{
    color: hsl(0, 36%, 70%);

}
.no-border-large-input:focus{
    outline: none;
}
.submit-button{
    position: absolute;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 60px;
    right: -1px;
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%)) ;
}
.submit-button:focus{
    outline: none;
}
.submit-button:hover{
    height: 50px;
    width: 65px;
    box-shadow: 2px 3px 24px -10px rgba(0,0,0,0.77);
}
.submit-wrapper>i{
    color: red;
    position: relative;
    right: 65px;
    top: 1px;
    display: none;
}

@media screen and (min-width: 765px ){
    main.content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        max-width: 1440px;
        justify-content: center;
        height: auto;
    }   
    img{
        grid-column: 2;
        margin: 0px;
        height: auto;
        width: 100%;
    }
    section{
        grid-column: 1;
        grid-row: 1;
        margin: 70px 50px 70px 50px;
        height: 450px;
        margin-top: 200px;
    }
    nav{
        height: 63px;
        grid-column: 1;
        grid-row: 1;
    }
    .no-border-large-input{
        width: 280px;
        padding-right: 90px
    }
    .submit-button{
        width: 80px;
    }
    .submit-button:hover{
        height: 50px;
        width: 85px;
        box-shadow: 2px 3px 24px -10px rgba(0,0,0,0.77);
    }
    .submit-wrapper>i{
        right: 85px
    }
    
 }
 @media screen and (max-width: 1056px) and (min-width:765px){
    picture{
        height: 692px;
        width: 528px;
    }
    section{
        height:400px;
        margin-top: 170px;
    }
    main.content{
        height: auto;
        width: 938px;
    }
    .no-border-large-input{
        width: 230px;
    }
}
